  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
  @import url(sections/header.css);
  @import url(sections/result.css);

  :root {
    --poppins: "Poppins", sans-serif;
    --bgColor: #121218;
    --textColor: #fff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
  }

  body {
    height: 100vh;
    background-color: var(--bgColor);
  }